<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}">
    </script>
	<title>Visualize the Epidemic</title>
</head>
<body>

	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="./static/js/datamap.min.js"></script>
	<h2>Visualize the Epidemic</h2>
	<div id="map-canvas" style="width: 100%; height: 500px;">
		<script>
		
		
		function buildMap () {
			$.get("/lat_lon_data", function (data) {
				lat_lon = JSON.parse(data);
				console.log(lat_lon);
				var cities = [];
				for (city in lat_lon) {
					var temp = lat_lon[city];
					cities.push({ location: city, radius: 15, latitude: temp.lat, longitude: temp.lon});
				}; 

				var map = new Datamap({
					element: document.getElementById('map-canvas'), 
					scope: 'usa',         
					geographyConfig: {
            						highlightOnHover: false,
            						popupOnHover: false
        			}
   	 			});

   	 			map.bubbles(cities, {
    								popupTemplate: function (geo, data) { 
            						return ['<div class="hoverinfo">' +  data.location,
            						'</div>'].join('');
    						}
				});

			});
		};


	buildMap()
	</script>
</div>
	{% for year in keys %}
		<p>{{ year }} : {{ case_load_dictionary[year] }} Cases </p>
	{% endfor %}
	<p><b>Total: {{ total }} US Cases </b></p>
	<p><b>Fresno Cases: {{ fresno_count }}</b><p>
</body>
</html>