<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<title>The AIDS Epidemic in America through 2002</title>
</head>
<body>

	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="./static/js/datamap.min.js"></script>
	<h2>The AIDS Epidemic in America through 2002</h2>
	<div class="col-md-1">
		<ul class="nav nav-pills nav-stacked">
  			<li role="presentation" class="active"><a href="/get_cases.html?year='1981'">1981</a></li>
  			<li role="presentation"><a href="/get_cases.html?year='1982'">1982</a></li>
  			<li role="presentation"><a href="/get_cases.html?year='1983'">1983</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1984'">1984</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1985'">1985</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1986'">1986</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1987'">1987</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1988'">1988</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1989'">1989</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1990'">1990</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1991'">1991</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1992'">1992</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1993'">1993</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1994'">1994</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1995'">1995</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1996'">1996</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1997'">1997</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1998'">1998</a></li>
			<li role="presentation"><a href="/get_cases.html?year='1999'">1999</a></li>
			<li role="presentation"><a href="/get_cases.html?year='2000'">2000</a></li>
			<li role="presentation"><a href="/get_cases.html?year='2001'">2001</a></li>
			<li role="presentation"><a href="/get_cases.html?year='2002'">2002</a></li>
		</ul>
	</div>

	<div id="map-canvas" class="col-md-11" style="width: 100%; height: 600px;">
		{% block body %}{% endblock %}
</div>
</body>
</html>